.vid-gallery h2 {
    font-size: 26px;
    letter-spacing: 6px;
    text-align: center;
}

.vid-gallery {
    margin-bottom: 20px;
    margin-top: 20px;
}

.vid-gallery--nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.arrow {
    height: 30px;
    margin: 10px;
    width: 30px;
}

.arrow:active {
    filter: invert(1);
}

.vid-gallery--nav-arrows {
    display: flex;
}

.desktop-arrow {
    display: none;
}

@media only screen and (min-width: 1000px) {
    .vid-gallery h2 {
        font-size: 66px;
        text-decoration: overline;
        text-decoration-color: seagreen;
    }
    
    .vid-gallery--current {
        height: calc(50vw * 0.56);
        width: 50vw;
    }

    .mobile-arrow {
        display: none;
    }

    .desktop-arrow {
        display: block;
        height: 60px;
        width: 60px;
    }

    .vid-gallery--nav {
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .left-arrow {
        margin-right: 100px;
    }

    .right-arrow {
        margin-left: 100px;
    }

    .vid-gallery {
        margin-bottom: 100px;
        width: 100%;
    }
}
